packaging
requests[security]
xmltodict
azure-cli-core==2.14.0.*
azure-cli-nspkg==3.0.2
azure-cli-telemetry>=1.0.6
azure-common>=1.1.12
azure-core>=1.2.2
azure-mgmt-authorization~=0.61.0
azure-mgmt-batch~=9.0.0
azure-mgmt-cdn==5.0.0
azure-mgmt-compute~=14.0
azure-mgmt-containerinstance==1.4.0
azure-mgmt-containerregistry==3.0.0rc15
azure-mgmt-containerservice~=9.4.0
azure-mgmt-dns==2.1.0
azure-mgmt-keyvault==7.0.0b3
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-monitor~=0.11.0
azure-mgmt-network~=12.0.0
azure-mgmt-nspkg==2.0.0
azure-mgmt-privatedns==0.1.0
azure-mgmt-redis~=7.0.0rc1
azure-mgmt-resource==10.2.0
azure-mgmt-rdbms~=3.1.0rc1
azure-mgmt-servicebus~=0.6.0
azure-mgmt-sql~=0.21.0
azure-mgmt-storage~=11.2.0
azure-mgmt-trafficmanager~=0.51.0
azure-mgmt-web~=0.48.0
azure-nspkg==2.0.0
azure-storage==0.35.1
azure-storage-common~=1.4
msrest==0.6.10
msrestazure==0.6.4
azure-keyvault~=1.1.0
azure-graphrbac~=0.60.0
azure-mgmt-cosmosdb~=1.0.0
azure-mgmt-hdinsight~=1.7.0
azure-mgmt-devtestlabs~=4.0
azure-mgmt-loganalytics~=0.7.0
azure-mgmt-automation==0.1.1
azure-mgmt-iothub~=0.12.0
